:root {
  --green: #00995d;
  --light-green: #b1d34b;
  --dark-green: #004e4c;
  --orange: #f47920;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  scale: 110%;
}

body {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;

  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header {
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.5rem 0 0 0;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid var(--light-green);
    width: min(69.5rem, 100%);

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: #ffff;
      color: var(--green);
      border-radius: 0.5rem;
      padding: 0.5rem;
      font-weight: bold;
      border-color: var(--light-green);
      filter: drop-shadow(0 4px 3px var(--light-green))
        drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    }
  }
}

.hero-section {
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .hero-container {
    width: min(69.5rem, 100%);
    padding: 4.5rem 0 0;
    display: flex;
    color: #ffff;
    align-items: center;

    .hero-text {
      display: flex;
      flex-direction: column;
      width: min(34rem, 100%);

      .header-italic {
        font-size: 2.4rem;
        font-weight: 200;
      }

      h1 {
        font-size: 3.5rem;
        font-weight: 900;
        line-height: 5rem;
        margin: -1.9rem 0 0.4rem 0;
      }

      i {
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 2rem;
      }

      button {
        padding: 1rem 3.5rem;
        background-color: var(--light-green);
        color: var(--dark-green);
        border-radius: 1rem;
        border: 0px solid;
        font-size: 2.25rem;
        font-weight: bold;
        filter: drop-shadow(0 4px 3px var(--light-green))
          drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
      }
    }
  }

  .banner-hero {
    width: min(69.5rem, 100%);
  }
}

.info-section {
  background-color: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.5rem 0;

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: min(57rem, 100%);
    font-size: 1.5rem;

    h2 {
      color: var(--light-green);
      font-weight: bold;
      font-size: 2.25rem;
    }

    div {
      height: 1px;
      background-color: var(--light-green);
      width: min(42rem, 100%);
      margin: 0.75rem 0;
    }

    p,
    strong {
      color: #ffff;
    }
  }
}

.locations-section {
  background-color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.5rem 0;
  flex-direction: column;

  h2 {
    color: var(--dark-green);
  }

  .locations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(69.5rem, 100%);
    gap: 4.5rem;
    color: var(--dark-green);

    .central-location {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;

      .central-text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h2 {
          font-size: 2.25rem;
          font-weight: bold;
        }

        .central-heading {
          background-color: var(--green);
          align-items: center;
          display: flex;
          color: #ffff;
          font-size: 2rem;
          font-weight: bold;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          width: min(28rem, 100%);

          span {
            border-left: 2px solid var(--light-green);
            padding-left: 1rem;
            margin-left: 1rem;
          }
        }

        strong {
          font-size: 1.5rem;
          font-weight: bold;
        }

        .central-info {
          font-size: 1.5rem;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          .central-phone {
            display: flex;
            align-items: center;
            gap: 1rem;
          }

          .central-calendar {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: min(27rem, 100%);
          }
        }

        button {
          background-color: var(--orange);
          color: #ffff;
          font-size: 2rem;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.25rem;
          padding: 0.5rem 1.56rem;
          border-radius: 0.5rem;
          border: 0;
          filter: drop-shadow(0 4px 3px var(--orange))
            drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
          margin-top: 2rem;
        }
      }
    }

    .separator {
      height: 1px;
      width: 100%;
      background-color: var(--dark-green);
    }

    .unity-location {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;

      .unity-text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        h2 {
          font-size: 2.25rem;
          font-weight: bold;
        }

        .unity-heading {
          background-color: var(--green);
          align-items: center;
          display: flex;
          color: #ffff;
          font-size: 2rem;
          font-weight: bold;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          width: min(15rem, 100%);

          span {
            border-left: 2px solid var(--light-green);
            padding-left: 1rem;
            margin-left: 1rem;
          }
        }

        strong {
          font-size: 1.5rem;
          font-weight: bold;
        }

        .unity-info {
          font-size: 1.5rem;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          .unity-phone {
            display: flex;
            align-items: center;
            gap: 1rem;
          }

          .unity-calendar {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: min(27rem, 100%);
          }
        }

        button {
          background-color: var(--orange);
          color: #ffff;
          font-size: 2rem;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.25rem;
          padding: 0.5rem 1.56rem;
          border-radius: 0.5rem;
          border: 0;
          filter: drop-shadow(0 4px 3px var(--orange))
            drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
          margin-top: 2rem;
        }
      }
    }

    .home-care-location {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background-color: var(--green);
      padding: 1.5rem;
      border-radius: 0.5rem;
      color: #ffff;

      .home-care-text {
        display: flex;
        gap: 1rem;

        h2 {
          font-size: 2.25rem;
          font-weight: bold;
          color: #ffff;
          margin-bottom: -0.5rem;
        }

        span {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }

      button {
        background-color: var(--orange);
        color: #ffff;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        padding: 1.5rem 4rem;
        border-radius: 0.5rem;
        border: 0;
        filter: drop-shadow(0 4px 3px var(--orange))
          drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
      }
    }
  }
}

.vr-section {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  align-items: center;
  background-color: var(--green);
  background-image: url('assets/background-asset.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 4.5rem 0;

  .vr-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: min(57.68rem, 100%);
    flex-direction: column;

    .calendar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffff;
      padding: 2.5rem 3rem;
      border-radius: 1.5rem;
      gap: 0.5rem;
      width: min(69.5rem, 100%);

      h2 {
        font-size: 2rem;
        color: var(--green);
        font-weight: bold;
        text-wrap: pretty;
        width: min(27rem, 100%);
      }

      button {
        background-color: var(--orange);
        color: #ffff;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        padding: 0.5rem 1.56rem;
        border-radius: 0.5rem;
        border: 0;
        filter: drop-shadow(0 4px 3px var(--orange))
          drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
      }
    }

    .vr-description {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .vr-text {
        color: #ffff;

        h2 {
          font-size: 1.7rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}

.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 0;

  .faq-container {
    width: min(69.5rem, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    h2 {
      font-size: 2.25rem;
      font-weight: bold;
      color: var(--dark-green);
    }

    .question {
      border: 1px solid var(--green);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-radius: 1rem;
      width: 100%;

      h3 {
        color: var(--green);
        font-size: 1.75rem;
        font-weight: bold;
      }

      .separator {
        height: 2px;
        width: 100%;
        background-color: var(--green);
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}

footer {
  padding: 4.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: min(69.5rem, 100%);
  }
}

@media (max-width: 860px) {
  html,
  body {
    overflow-x: hidden;
  }

  header {
    padding: 1rem;
  }

  .hero-section {
    padding: 2rem;

    .hero-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      padding: 0 1rem;

      .hero-text {
        align-items: center;

        button {
          margin: 1.5rem 0;
          font-size: 1.5rem;
          padding: 1.5rem 2rem;
        }
      }
    }
  }

  .info-section {
    padding-left: 1rem;
    padding-right: 1rem;

    .info-container {
      h2 {
        font-size: 2rem;
      }
    }
  }

  .locations-section {
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;

    .locations-container {
      .central-location {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;

        .central-text {
          justify-content: center;
          align-items: center;
          width: min(25rem, 100%);

          .central-info {
            a {
              align-self: center;

              button {
                font-size: 1.5rem;
                padding: 1.5rem 2rem;
              }
            }
          }
        }
      }
    }

    .unity-location {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      padding: 0 2rem;

      .unity-text {
        justify-content: center;
        align-items: center;
        width: min(25rem, 100%);

        h2 {
          text-align: center;
        }

        .unity-info {
          a {
            align-self: center;

            button {
              font-size: 1.5rem;
              padding: 1.5rem 2rem;
            }
          }
        }
      }
    }
  }

  .central-info-section {
    .calendar-container {
      margin: -4rem 2rem 0 2rem;

      button {
        font-size: 1.5rem;
        padding: 1rem 2rem;
      }
    }

    .central-info-container {
      flex-direction: column;

      .central-info-description {
        padding: 0 1rem;
      }
    }
  }

  .faq-section {
    .faq-container {
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 2rem;
    }
  }

  footer {
    .footer-container {
      align-items: center;
      gap: 1.2rem;
      padding: 0 2rem;
    }
  }
}
